.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 20px;
    border: 1px solid #d4d4d4;
    width: 100%;
    padding: 20px;
    border: 1px solid #d4d4d4;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.user {
    display: flex;
    align-items: center;
}

.controls {
    display: flex;
    justify-content: space-between;
}