.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border: 1px solid #d4d4d4;
    flex: 1;
}

.container:hover {
    border: 4px solid #d4d4d4;
}